.section-gap {
	padding: 30px 0;
}

.section-heading {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	gap: 15px;
}

.section-heading .heading-sub {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px 10px 44px;
	color: var(--primary-color);
	background: var(--bs-white);
	box-shadow: 0 4px 30px rgba(235, 114, 87, 0.27);
	border-radius: 30px;
	font-size: 1.15em;
	position: relative;
}

.section-heading .heading-sub .heading-sub_icon {
	position: absolute;
	left: 10px;
	width: 27px;
	height: 27px;
	background: var(--primary-color);
	border-radius: 50%;
	color: var(--bs-white);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .85em;
}

.section-heading .heading-title {
	font-size: 1.725em;
	margin-bottom: 0;
	font-weight: 700;
}

.section-heading .heading-title:not(.heading-title_black) {
	font-size: 1.725em;
	font-weight: 700;
	background: linear-gradient(138.62deg, #BC0D2C 7.45%, #E65F1E 85.72%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section-heading .heading-title.heading-title_black > span {
	background: linear-gradient(138.62deg, #BC0D2C 7.45%, #E65F1E 85.72%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section-heading .heading-text {
	font-size: 1.075em;
	color: #525252;
}

.button-theme {
	padding: 8px 17px;
	border-radius: 6px;
	font-weight: 500;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	white-space: nowrap;
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
	font-size: 1.075em;
	overflow: hidden;
	border: 0;
	outline: none;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.button-theme.button-theme_large {
	padding: 12px 40px;
}

.button-theme.button-theme_primary {
	color: var(--bs-white);
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.button-theme.button-theme_primary:hover {
	color: var(--bs-white);
	background: var(--primary-hover);
	border: 1px solid var(--primary-hover);
}

.button-theme.button-theme_gradient {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

.button-theme.button-theme_gradient > span {
	position: relative;
	z-index: 2;
	color: inherit;
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}

.button-theme.button-theme_gradient:hover > span {
	color: var(--bs-white);
}

.button-theme.button-theme_gradient:before {
	background: var(--gradient);
	position: absolute;
	z-index: 1;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	inset: 0;
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}

.button-theme.button-theme_gradient:hover:before {
	opacity: 1;
	visibility: visible;
}

.box-item {
	height: 100%;
	border-radius: 10px;
	background: var(--bs-white);
	padding: 15px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 70, 108, .059), 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.05);
	box-shadow: 0 0 20px 0 rgba(0, 70, 108, .059), 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.05);
}

.box-item .box-item_icon {
	width: 60px;
}

.box-item .box-item_content {
	align-self: flex-start;
}

.box-item .box-item_content .box-item_title {
	font-size: 1.3em;
	font-weight: 700;
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.box-item .box-item_content .box-item_text {
	font-size: 1.075em;
	color: var(--bs-gray-700);
	margin-top: 4px;
}

.article-card {
	border-radius: 10px;
	overflow: hidden;
	height: 100%;
	box-shadow: 0 4px 25px rgb(0 0 0 / 11%);
}

.article-card .card-image {
	border-radius: inherit;
	overflow: hidden;
}

.article-card .card-body {
	padding: 20px;
	position: relative;
}

.article-card .card-body:before {
	position: absolute;
	content: "";
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: linear-gradient(62.14deg, #ffc3a1 -0.06%, rgba(255, 255, 255, 0) 43.03%);
	transition: var(--transition-default);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.article-card .card-body > * {
	position: relative;
	z-index: 1;
}

.article-card .card-body .card-title {
	font-size: 1.3em;
	color: var(--bs-black);
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 0 0;
	margin-bottom: 10px;
	font-weight: 700;
	line-height: 1.4;
	transition: var(--transition-default);
}

.article-card .card-body .card-meta {
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 1em;
	color: var(--bs-gray-600);
	opacity: .8;
}

.article-card .card-body .card-text {
	margin-top: 8px;
	font-size: 1.075em;
	color: var(--bs-gray-700);
	--line: 3;
}

.article-card .card-body .card-button {
	margin-top: 15px;
}

.article-card:hover .card-image img {
	transform: scale(1.1);
}

.article-card:hover .card-body:before {
	opacity: 1;
	visibility: visible;
}

.article-card:hover .card-body .card-title {
	color: rgba(0, 0, 0, 0);
	background-size: 100% 100%;
}

.article-card:hover .card-body .card-button .button-theme_gradient > span {
	color: var(--bs-white);
}

.article-card:hover .card-body .card-button .button-theme_gradient:before {
	opacity: 1;
	visibility: visible;
}

.introduction-card {
	background: rgba(var(--primary-rgb), .075);
	padding: 30px 25px;
	border-radius: 20px;
	height: 100%;
}

.introduction-card:before {
	position: absolute;
	content: "";
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: var(--gradient);
	transition: var(--transition-default);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.introduction-card > * {
	position: relative;
	z-index: 1;
}

.introduction-card .card-icon {
	background: transparent;
	transition: var(--transition-default);
	width: 140px;
	height: 140px;
	padding: 25px;
	margin: 0 auto;
}

.introduction-card .card-title {
	font-size: 1.3em;
	font-weight: 700;
	margin-bottom: 0;
	transition: var(--transition-default);
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0, 0, 0, 0);
	background-size: 100% 100%;
}

.introduction-card .card-text {
	font-size: 1.075em;
	color: var(--bs-gray-700);
	margin-top: 8px;
	transition: var(--transition-default);
}

.introduction-card:hover:before {
	opacity: 1;
	visibility: visible;
}

.introduction-card:hover .card-icon {
	background: var(--bs-white);
}

.introduction-card:hover .card-body .card-title {
	background-size: 0 0;
	color: var(--bs-white);
}

.introduction-card:hover .card-body .card-text {
	color: var(--bs-white);
}

.section-counter {
	background: var(--gradient);
}

.counter-card .card-icon {
	font-size: 3.5em;
}

.counter-card .card-value {
	font-size: 3em;
	font-weight: 700;
	line-height: 1.1;
}

.counter-card .card-text {
	font-size: 1.075em;
}

.us-inner {
	margin-top: 50px;
	margin-bottom: 50px;
}

.us-card .card-content .card-icon {
	font-size: 4.5em;
	background: linear-gradient(138.62deg, #BC0D2C 7.45%, #E65F1E 85.72%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 0;
}

.us-card .card-content .card-value {
	font-size: 2.4em;
	line-height: 1;
	font-weight: 700;
	background: linear-gradient(138.62deg, #BC0D2C 7.45%, #E65F1E 85.72%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	top: 5px;
}

.us-card .card-text {
	font-size: 1.075em;
	color: #525252;
}